body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pelicula {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .pelicula:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  @media only screen and (min-width: 768px) {
    .pelicula {
      width: calc(50% - 10px);
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .pelicula {
      width: calc(33.33% - 10px);
    }
  }
  
  .pelicula__imagen {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .pelicula__titulo {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
  }
  .pelicula__estreno {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    color: #FF6B08;
  }
  .pelicula__genero {
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    color: #FF6B08;
  }