*{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.modalContainer{
    display: none;
    position: fixed;
    z-index: -1;
    padding-top: 100px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    .modal-content{
        background-color: #FFFFFF;
        margin: auto;
        border: 1px solid purple;
        width: 80%;
        
    }
    .button_close{
        
        position: fixed;
        right: 9%;
        color: rgb(4, 6, 22);
        font-size: 18px;
        margin: 2% 3% 0%;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;

        &:hover{
            color: #FF6B01;
            text-decoration: none;
            cursor: pointer;
        }  
    }
}

.data{
    &_info{
        &:hover{
            background-color: #FF6B01;
            border-radius: 2px;
            color: #FFFFFF;
        }
    }
    &_movie{
        display: flex;
    } 
    &_key{
        width: 40%;
        color: #8c8c8c;
    }
    &_value{
        width: 60%;
    }
    &_sinopsis{
        padding: 2% 0% 5%;
    }
}

.sub-content {
    display: flex;
    padding: 5% 3%;
    &_data{
        width: 50%;
    }
}

.movie{
    &_img{
        width: 90%;
        //height: 90%;
        border-radius: 10px;
    }
    &_title{
        margin: 0% 0% 2%;
        font-size: 30px;
        text-transform: uppercase;
    }
}

.add-button{
    background-color: #FFFFFF;
    padding: 4%;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-right: 3%;  
    &:hover{
        background-color: #FF6B01;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }
}
